In [2]:
import pandas as pd
import numpy as np
import statsmodels.api as sm
from statsmodels.formula.api import ols
import glob
from matplotlib import pyplot as plt
from pathlib import Path
import statistics
import scipy
from ipynb.fs.full.taylorDiagram import TaylorDiagram
#from cdms2 import MV2

In [3]:
df=pd.read_csv("/home/nishu/my_projects/MA_ISM_IOD/AI_rainfall.txt")

In [4]:
df

,Year,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,...,Dec,JF,MAM,JJAS,OND,ANN,mean,JJAS_MEAN,ppanmly,STD_DEV
0,1871,196,107,145,339,636,2080,2778,1794,1836,...,67,303,1120,8487,758,10670,889.166667,8481.623288,0.006443,834.522892
1,1872,76,75,73,240,438,1892,2913,2452,1879,...,191,151,751,9136,1252,11289,940.750000,NaN,0.784133,NaN
2,1873,37,135,150,243,428,1130,2645,2142,1656,...,90,172,821,7573,812,9378,781.500000,NaN,-1.088794,NaN
3,1874,86,158,107,169,683,2279,3069,2335,2062,...,40,244,959,9745,1159,12106,1008.833333,NaN,1.513891,NaN
4,1875,99,114,131,232,506,1926,3079,2187,2105,...,71,213,869,9297,700,11078,923.166667,NaN,0.977057,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
141,2012,182,25,39,343,252,1127,2520,2576,1828,...,57,207,634,8051,1051,9943,828.583333,NaN,-0.516011,NaN
142,2013,47,265,99,273,549,2285,3122,2467,1599,...,39,312,921,9473,1584,12291,1024.250000,NaN,1.187956,NaN
143,2014,133,233,211,134,648,908,2564,2190,1702,...,99,366,993,7364,867,9590,799.166667,NaN,-1.339236,NaN
144,2015,152,42,375,540,458,1862,2305,1855,1259,...,123,194,1373,7281,932,9780,815.000000,NaN,-1.438694,NaN
145,2016,50,50,139,199,604,1475,2981,2306,1687,...,70,100,942,8449,671,10162,846.833333,NaN,-0.039092,NaN

In [5]:
a=df["JJAS"].mean()

In [6]:
b=statistics.stdev(df['JJAS'])

In [7]:
ppanmly=pd.DataFrame()
ppanmly["ppanmly"]=a
ppanmly.to_csv("/home/nishu/my_projects/MA_ISM_IOD/ppanmly.csv")

In [8]:

tlrfrm=pd.DataFrame()
tlrfrm["Year"]=df["Year"]
tlrfrm["Ob_ppanmly"]=(df["JJAS"]-a)/b
tlrfrm
res_std=scipy.stats.pearsonr(tlrfrm["Ob_ppanmly"],df["ppanmly"])

In [9]:
folder = '/home/nishu/my_projects/NMP/Climate_data_final_21_06_22/CIMP5data24June2022/rawdata_RCP4.5/1850-2005'

In [10]:
tlrfrm=tlrfrm.drop(tlrfrm.index[135:146],0)
# print(tlrfrm)
corr=np.zeros(43)
stddev=np.zeros(43)
models=[]
c=0
for file in Path(folder).glob('*.txt'):
    df = pd.read_csv(file)
    df=df.drop(df.index[0:21],0)
#     print(df)
    res=scipy.stats.pearsonr(tlrfrm["Ob_ppanmly"],df["ppanmly"])
    corr[c]=res[0]
    stddev[c]=scipy.stats.tstd(df["ppanmly"])
    c+=1
    mname=str(file)
#     print(len(mname))
    mname=mname[114:len(mname)-53]
#     print(type(mname))
    models.append(mname)
#     print(mname)
# print("corr",corr)
# print("stddev",stddev)
print(models)
tlr=pd.DataFrame()
tlr["Mname"]=models
tlr["corr"]=corr
tlr["stddev"]=stddev
print(tlr)

['ACCESS1-0', 'ACCESS1-3', 'bcc-csm1-1-m', 'bcc-csm1-1', 'BNU-ESM', 'CanESM2', 'CCSM4', 'CESM1-BGC', 'CESM1-CAM5', 'CMCC-CM', 'CMCC-CMS', 'CNRM-CM5', 'CSIRO-Mk3-6-0', 'EC-EARTH', 'FGOALS-g2', 'FIO-ESM', 'GISS-E2-H-CC', 'GISS-E2-H', 'GISS-E2-H', 'GISS-E2-H', 'GISS-E2-R-CC', 'GISS-E2-R', 'GISS-E2-R', 'GISS-E2-R', 'inmcm4', 'IPSL-CM5A-LR', 'IPSL-CM5A-MR', 'IPSL-CM5B-LR', 'MIROC5', 'MIROC-ESM-CHEM', 'MIROC-ESM', 'MPI-ESM-LR', 'MPI-ESM-MR', 'MRI-CGCM3', 'NorESM1-ME', 'NorESM1-M', 'GFDL-CM3', 'GFDL-ESM2G', 'GFDL-ESM2M', 'HadGEM2-AO', 'HadGEM2-CC', 'HadGEM2-ES', 'onem']
             Mname      corr    stddev
0        ACCESS1-0  0.038863  0.100126
1        ACCESS1-3  0.038127  0.128888
2     bcc-csm1-1-m -0.147390  0.092822
3       bcc-csm1-1 -0.084728  0.097046
4          BNU-ESM -0.087062  0.101112
5          CanESM2  0.022122  0.091617
6            CCSM4 -0.113649  0.130500
7        CESM1-BGC -0.035674  0.101693
8       CESM1-CAM5 -0.092373  0.102216
9          CMCC-CM  0.010892  0.090353
10        CMCC-CMS -0.170475  0.116999
11        CNRM-CM5 -0.047392  0.083538
12   CSIRO-Mk3-6-0  0.039626  0.110379
13        EC-EARTH  0.009090  0.072985
14       FGOALS-g2  0.038957  0.055455
15         FIO-ESM -0.131936  0.095274
16    GISS-E2-H-CC  0.005442  0.071562
17       GISS-E2-H  0.033858  0.074707
18       GISS-E2-H  0.131659  0.073894
19       GISS-E2-H -0.026317  0.065907
20    GISS-E2-R-CC -0.011073  0.073098
21       GISS-E2-R -0.071719  0.079133
22       GISS-E2-R  0.181642  0.075806
23       GISS-E2-R -0.002974  0.083392
24          inmcm4  0.057198  0.100158
25    IPSL-CM5A-LR  0.024966  0.092679
26    IPSL-CM5A-MR  0.088527  0.092555
27    IPSL-CM5B-LR  0.008343  0.083380
28          MIROC5  0.036610  0.091690
29  MIROC-ESM-CHEM  0.017945  0.081523
30       MIROC-ESM  0.064722  0.073505
31      MPI-ESM-LR -0.126713  0.088605
32      MPI-ESM-MR -0.108001  0.086106
33       MRI-CGCM3 -0.039255  0.088177
34      NorESM1-ME -0.063623  0.104613
35       NorESM1-M -0.033124  0.111799
36        GFDL-CM3  0.146885  0.114396
37      GFDL-ESM2G  0.029101  0.108894
38      GFDL-ESM2M  0.029487  0.118024
39      HadGEM2-AO  0.138856  0.104990
40      HadGEM2-CC -0.018413  0.101781
41      HadGEM2-ES  0.014734  0.105073
42            onem -0.011108  0.025962

In [47]:
colors = PLT.matplotlib.cm.Set1(NP.linspace(0,1,len(tlr['Mname'])))

In [50]:
x95 = [0.05, 13.9] # For Prcp, this is for 95th level (r = 0.195)
y95 = [0.0, 71.0]
x99 = [0.05, 19.0] # For Prcp, this is for 99th level (r = 0.254)
y99 = [0.0, 70.0]

ValueError: could not convert string to float: 'teeth'